<div class="bottom-page">
    <div class="container">
        <div class="row">
            <div id="about_contact">
             </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                บริษัท เดอะครัฟฟินพับบลิชชิง จำกัด<br>
                <br>
                126 ถนนประชาอุทิศ แขวงบางมด<br>
                เขตทุ่งครุ กรุงเทพฯ 10140
            </p>    
        </div>
        <div class="col-md-4">
            <p>
                โทร  : 0-2470-8000<br>
                <br>
                อีเมล : The_Cruffin@hotmail.com
            </p>
        </div>
        <div class="col-md-4" id="link-menu"><p>    
                    <a href='/'><div id="bt-about_us">เกี่ยวกับเรา</div></a>
                    <a href='/book'><div id="bt-book">หนังสือ</div></a>
                    <a href='/author'><div id="bt-author">นักเขียน</div></a>
                    <a href='/search'><div id="bt-search">ค้นหา</div></a></p>
        </div>
    </div>
        
    </div>
<style>
.bottom-page{
    background-color:#BC0000;
    padding:10px;
}
a{
    color:white;
}

a.hover{
    color:black;
}
</style>
</div>
