
<style>
nav{
  background-color: #BC0000;
}
</style>

<nav class="nav navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">The Cruffin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/book">นิยาย<span class="sr-only">(current)</span></a>
      </li>
			<li class="nav-item">
        <a class="nav-link" href="/author">นักเขียน</a>
      </li>
			<li class="nav-item">
        <a class="nav-link" href="/search">ค้นหา</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
			<%if(session.cart){%>
			<li class="nav-item">
        <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i>ตะกร้าสินค้า  <span class='badge badge-secondary'><%= session.cart.totalQty%></span></a>
      </li>
			<%}else{%>
				<li class="nav-item">
        <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i>ตะกร้าสินค้า </a>
      </li>
			<%}%>
			<%if(!login){%>
			<li class="nav-item">
        <a class="nav-link" href="/regis">สมัครสมาชิก</a>
      </li>
			<li class="nav-item">
        <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
      </li>
			<%}else{%>
			<li class="nav-item">
        <a class="nav-link" href="/user"><%=user.username%></a>
      </li>
			<li class="nav-item">
        <a class="nav-link" href="/logout">ออกจากระบบ</a>
      </li>
			<%}%>
		</ul>
  </div>
</nav>